body {
    box-sizing: border-box;
    margin-top: 25px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#body {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 35vw;
    margin: auto;
    border: 15px solid black;
    border-radius: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;    
}

div {
    flex-grow: 1;
    width: 100%;
    border: 1px solid black;
}

.clear {

}

